@charset "utf-8";



/* hambuger버튼영역 */

/* 배경 오버레이 */
 .overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 998;
    display: none;
}

/* sidebar */
 .sidebar {
        background-color: #70695ef5;
        width: 30vw;
        /* padding: 50vh 0; */
        height: 100vh;
        position: fixed;
        right: -100vw;
        transition: 0.3s;
        z-index: 999;
        /* opacity: 0.8; */
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
}
.sidebar > span{
    content: "";
    width: 0;
    margin-left: 5px;
    height: 6px;
    display: inline-block;
    background-color: #ffffff;
}
.sidebar > h2{
    text-align: center;
    /* padding: 10px; */
    /* margin-top: 80px; */
    margin: 30px 0;
    cursor: pointer;
    /* font-weight: bolder; */
    font-size: 1rem;
    color: #fff;
}

input[id=trigger]:checked ~ .sidebar{
    right: 0;
}
input[id=trigger]:checked + label[for=trigger]{
    /* right: 310px; */
    z-index: 1000;

}
    input[id=trigger]{
        display: none;
    }
    label[for=trigger]{
        width: 30px;
        height: 20px;
        display: block;
        position: absolute;
        right: 50px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        transition: 0.3s;
    }
    label[for=trigger] span{
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 3px;
        border-radius: 17px;
        transition: 0.3s;
    }
    label[for=trigger] span:nth-child(1){
        top: 0;
    }
    label[for=trigger] span:nth-child(2){
        top: 50%;
    }
    label[for=trigger] span:nth-child(3){
        top: 100%;
    }
    input[id=trigger]:checked + label[for=trigger] span:nth-child(1){
        top: 50%;
        transform: rotate(45deg);
    }
    input[id=trigger]:checked + label[for=trigger] span:nth-child(2){
        opacity: 0;
    }
    input[id=trigger]:checked + label[for=trigger] span:nth-child(3){
        top: 50%;
        transform: rotate(-45deg);
    }

/****** header영역 ******/

.header-logo{
    display: flex;
    margin-left: 50px;
}
.logo > img{
    display: inline-block;
    width: 200px;
}
.header-area{
    display: flex;
    position: fixed; 
    z-index: 999;
    background-color: transparent;
    width: 100%;
    transition: all 1s;
}
.header-area.active{
    background-color: #B1A594;
    color: #111;
}
.nav{
    width: 100%;
}
.menu{
    margin-top: 35px;
    margin-left: 50px;
    display: flex;
}
.menu > li{
    margin-right: 70px;
    font-size: 15px;
}
.menu li > a{
    color: #fff;
}

.icon-box{
    display: flex;
    margin-right: -32px;
}
.icon-box li{
    width: 24px;
    height: 24px;
    margin-right: 32px;
} 
.header{
    background:  #efefef;
    /* height: 1050px; */
}

/* sub-menu-box */
.sub-menu-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.959);
    display: none;
    z-index: 99;
}
.sub-menu-box.active{
    display: block;
}
.sub-menu{
    position: fixed;
    top: 100px;
    left: 40px;
    z-index: 99;
    opacity: 0;
    transition: 0.3s;
}
.sub-menu.active{
    opacity: 1;
}
.sub-menu li{
    font-size: 0.75rem;
    color: #252525;
    margin-top: 30px;
    cursor: pointer;
}

/* 아코디언박스 */
.gallery{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    height: 100vh;
}
.gallery li{
    flex:1;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}
.gallery li:last-child{
    border-right: none;
}
.gallery li:nth-child(1){
    background: url(../img/incheon.png) no-repeat center center;
    background-size: cover;
}
.gallery li:nth-child(2){
    background: url(../img/gangnam.png) no-repeat center center;
    background-size: cover;
}
.gallery li:nth-child(3){
    background: url(../img/jeju.png) no-repeat center center;
    background-size: cover;
}
.gallery li:nth-child(4){
    background: url(../img/seoul.png) no-repeat center center;
    background-size: cover;
}
.gallery li:nth-child(5){
    background: url(../img/changwon.png) no-repeat center center;
    background-size: cover;
}

.gallery:hover li{
    flex:1;
}
.gallery li:hover{
    flex: 3;
    filter: grayscale(1);
}

.content{
    position: absolute;
    background-color:  rgba(0, 0, 0, 0.917);
    color: #fff;
    text-align: center;
    height: 250px;
    bottom: -320px;
    /* bottom: 0; */
    padding: 20px;
    box-sizing: border-box;
    padding-top: 80px;
    width: 100%;
    transition: 0.5s;
}
.content > p{
    font-size: 15px;
    margin-top: 5px;
}
.content > h2{
    margin-bottom: 15px;
    font-size: 23px;
}
.gallery li:hover .content{
    bottom: 0;
    transition-delay: 0.5s;
}

.content:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0;
    top: -30px;
    transform-origin: left bottom;
}

/* HOTEL-RESERVATION */

.hotel-reservation {
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
    color: #978C7E;
}
select,#dd{
    margin-top: 12px;
    color: #696969;
    border: none;
    background: none;
    outline: none;
}
.checkin,.room > select{
    outline: none;
    cursor: pointer;
}
#hotel,#room,#adult,#child,#searc{
    display: inline-grid;
}
#hotel{
    margin-right: 180px;
}
#room,#adult,#child{
    margin-right: 35px;
}
#searc{
    margin-left: 20px;
    margin-top: 15px;
    cursor: pointer;
}
#searc > span{
    background: #978C7E;
    color: #fff;
    border-radius: 100px;
    width: 83px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    margin-left: 13px;
}
#reservation > div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
}
    
#date{
    width: 430px;
    align-items: center;
    justify-content: center;
}
.checkin{
    border: none;
    background: none;
}
.hotel-reservation{
    display: flex;
}

/***** section1 *****/
    .scroll{
        color: #BCB09F;
        text-align: center;
        margin-top: 90px;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 90px;
    }
    .fa-solid > img{
        width: 90px;
    }
    .scroll > p{
        color: #4e4e4e;
        font-size: 14px;
        font-weight: 600;
        display: none;
    }
    .hello{
        color: #383838;
        margin-left: 200px;
        margin-bottom: 60px;
        font-size: 1.8rem;
        font-weight: 900;
    }
    .hello > p:last-child::after{
        content: "";
        width: 0;
        margin-left: 5px;
        height: 6px;
        display: inline-block;
        background-color: #FFA700;
        animation: Show 3s ease-in-out forwards infinite;
    }
    @keyframes Show {
        0% {width:0;}
        40% {width:430px;}
        100% {width:100px;}
    }
    .hello > p:last-child > span, .intro_txt > p:last-child::after{
        vertical-align: baseline;
    }

    .box-1{
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }
    .box1-1{
        width: 475px;
        height: 402px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .boximg{
        width: 475px;
        height: 238px;
        overflow: hidden;
        margin-bottom: 2vh;
    }
    .boximg2{
        overflow: hidden;
        margin-bottom: 2vh;
    }
    .box1-1:hover img,
    .box3-2:hover img,.box3-1:hover img,
    .box3-3:hover img,.box2-1:hover img{
        cursor: pointer;
        transform: scale(1.1);
    }
    .box2-winter > img{
        width: 475px;
        height: 600px;
        overflow: hidden;
    }
    .box1-1 img{
        transition-duration: 1s;
    }
    .box2-1 img{
        width: 100%;
        height: 100%;
        transition-duration: 1s;
    }
    .box3-1 img{
        width: 100%;
        height: 100%;
        transition-duration: 1s;
    }
    .box3-3 img{
        width: 100%;
        height: 100%;
        transition-duration: 1s;
    }
    .box3-2 img{
        width: 100%;
        height: 100%;
        transition-duration: 1s;
    }
    .box1-1 > h2{
        margin-bottom: 10px;
        font-size: 1.2rem;
    }
    .box1-1 > img{
        margin-bottom: 20px;
        width: 100%;
    }

    .box-2{
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }
    .box2-winter{
        width: 475px;
        height: 650px;
        margin-left: 20px;
        margin-right: 20px;
        object-fit: cover;
    }
    .box2-winter > img{
        object-fit: cover;
    }
    .box2-1{
        width: 475px;
        height: 402px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .box2-1 > h2{
        margin-bottom: 10px;
        font-size: 1.2rem;
    }
    .box2-1 > img{
        margin-bottom: 20px;
        width: 100%;
    }
    .boximg2 {
        overflow: hidden;
        width: 475px;
        height: 340px;
        margin-bottom: 2vh;
    }

    .box-3{
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }
    .box3-1{
        width: 475px;
        height: 600px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 50px;
    }
    .box3-1 img {
        transition-duration: 1s;
    }
    .box3-1 > h2,.box3-2 > h2,.box3-3 >h2{
        font-size: 1.2rem;
    }
    .box3-1 > img,.box3-2 > img,.box3-3 > img{
        margin-bottom: 20px;
        width: 100%;
    }
    .box3-1p{
        margin-top: 10px;
    }
    .box3-2{
        width: 475px;
        height: 580px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: -200px;
    }
    .box3-3{
        width: 475px;
        height: 580px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: -150px;
    }
    .box-1 > div > p,.box-2 > div > p,
    .box-3 > div > div > p{
        font-size: 0.9rem;

    }

/***** section2 ******/
    .section2{
        margin-bottom: 160px;
    }
    .special > h1{
        color: #BCB09F;
        text-align: center;
        font-size: 38px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .special > h3{
        text-align: center;
        color: #92918F;
        font-size: 16px;
        font-weight: 500;
    }
    
    .love{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 100px;
    }
    .love-img{
        margin-right: 50px;
        margin-left: 50px;
        width: 687px;
        height: 771px;
    }
    .love-img > img{
        width: 687px;
        height: 771px;
    }
    .special-img >img:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
    .special-img{
        overflow: hidden;
        width: 336px;
        height: 224px;
    }
    .special-img > img{
        width: 100%;
        height: 100%;
        transition-duration: 1s;
    }
    .love > div > div > h1{
        font-size: 1rem;
        margin-top: 10px;
    }
    .special-1,.special-3{
        margin-right: 50px;
        margin-bottom: 100px;
    }
    .special-p{
        font-size: 0.8rem;
        margin-top: 10px;
    }
    .bus{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 80px;
    }
    .bus-img{
        margin-right: 50px;
        margin-left: 50px;
        width: 687px;
        height: 771px;
    }
    .bus-img > img{
        width: 100%;
        height: 100%;
    }
    .special-1,.special-3{
        margin-right: 50px;
        margin-bottom: 100px;
    }
    .special-2{
        margin-top: -16px;
    }
    .hash-tag{
        margin-top: 13px;
        cursor: pointer;
    }
    .hash-tag > a{
        background-color: #fff;
        color: #757575;
        border: 1px solid #d1d1d1;;
        margin-top: 15px;
        height: 18px;
        font-size: 12px;
        padding: 3px 8px 2px;
        margin-right: 5px;
        border-radius: 20px;
    }
    .hash-tag > a:hover{
        background-color: #111;
        color: #fff;
        border: 1px solid #111;
        margin-top: 15px;
        height: 18px;
        font-size: 12px;
        padding: 3px 8px 2px;
        margin-right: 5px;
        border-radius: 20px;
        transition-duration: 0.8s;
    }
    .special-1 > p,.special-2 > p,
    .special-3 > p,.special-4 > p{
        margin-top: 10px;
        font-weight: 500;
        font-size: 15px;
    }
    .bus > div > div > h1{
        font-size: 1rem;
        margin-top: 10px;
    }

/******* section3 *******/
.section3-background{
    width: 100%;
    height: 750px;
    background: #f3f2f2;
    overflow: hidden;
}
.section3-box{
    display: flex;
    justify-content: center;

}
.membership{
    color: #383838;
    margin-left: 200px;
    padding-top: 50px;
    margin-bottom: 60px;
    font-size: 1.8rem;
    font-weight: 900;
}
.membership > p:last-child::after{
    content: "";
    width: 0;
    margin-left: 5px;
    height: 6px;
    display: inline-block;
    background-color: #FFA700;
    animation: Show 3s ease-in-out forwards infinite;
}

.inner{
    display: flex;
}

.out_box{
    flex: 1 1 0;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}
.inner:nth-of-type(1) > .out_box:nth-child(2){
    display: block;
}
.gallery2{
    width: 100%;
    height: 100%;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

.gallery2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery2_mask{
    width: 100%;
    background-color: rgba(34, 34, 34, 0.952);
    color: #fff;
    position: absolute;
    bottom:-200px;
    left: 0;
    opacity: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px 20px;
    box-sizing: border-box;
    transition-duration: 1s;
}

.gallery2_mask > div > p{
    font-size: 12px;
}
.gallery2:hover > .gallery2_mask{
    bottom: 0;
    opacity: 2;
}
.gallery2_mask strong{
    color: #ffa600;
    font-size: 18px;
    font-weight: 500;
}
.gallery2_mask > span{
    font-size: 13px;
    border: 1px solid #fff;
    padding: 7px;
    line-height: 1;
}
.gallery2 > a{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}



/****** section4 ******/
    .section4{
        margin-top: 80px;
    }
    .event > h1{
        text-align: center;
        color: #BCB09F;
        font-size: 38px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .event > h3{
        text-align: center;
        color: #92918F;
        font-size: 16px;
        font-weight: 500;
    }
    .eventbox{
        display: flex;
        margin-top: 80px;
        justify-content: center;
    }
    .eventbox > div{
        margin-left: 40px;
        margin-right: 40px;
        width: 380px;
        height: 460px;
        border: 1px solid #C4C4C4;
    }
    .eventbox > div > h3{
        padding: 15px;
    }
    .eventbox > div > p{
        margin-left: 15px;
        margin-top: 3px;
        font-size: 13px;
    }
    .eventbox > div > .tag{
        margin-top: 25px;
        margin-bottom: 25px;
        color: #2a2a2a;
    }
    .time{
        font-weight: 600;
    }

/****** section5 ******/
    .section5{
        margin-bottom: 15vh;
        position: relative;
        height: 100%;
    }
    .section5-gallery > h1{
        text-align: center;
        margin-top: 100px;
        color: #BCB09F;
        font-size: 38px;
        font-weight: 600;
    }
    .section5-gallery > h3{
        text-align: center;
        margin-top: 10px;
        color: #92918F;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 80px;
    }
     .swiper {
        width: 100%;
        height: 100%;
        width: 1100px;
      }
     
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .swiper {
        margin-left: auto;
        margin-right: auto;
      }

      .swiper-button-next::after,.swiper-button-prev::after{
          color: #ffffffbf;
          font-size: 50px;
      }

    /* top버튼 */
    #top-btn {
        margin-top: 200px;
        margin-left: 1600px;
        cursor: pointer;
    }
    



/*footer */ 
    .footer{
        background: #39342D;
        width: 100%;
        height: 100%;
        padding-bottom: 10px;
    }
    .footer-service{
        display: flex;
        justify-content: center;
    }
    .footer-service > div > h1{
        margin-top: 60px;
    
    }
    .copyright{
        text-align: center;
        margin-top: 45px;
        font-size: 16px;
        color: #B7B7B7;
    }
    .center{
        margin-right: 150px;
        font-size: 14px;
        margin-bottom: 30px;
     
    }
    .fax{
        display: flex;
    }
    .tel{
        margin-right: 30px;
        font-size: 15px;
        color: #EDEDED;
    }
    .tel > p {
        margin-bottom: 10px;
    }
    .number > p{
        margin-bottom: 10px;
    }
    .number{
        font-size: 15px;
        color: #B7B7B7;
        line-height: 21px;
    }
    .googleplay{
        margin-left: 30px;
    }
    .service{
        margin-right: 200px;
        font-size: 14px;
    }

    .family{
        margin-right: 200px;
        font-size: 14px;
    }
    .center > h1,.family >h1{
        color: #BCB09F;
        margin-bottom: 20px;
    }
    .service > h1{
        color: #BCB09F;
        margin-bottom: 10px;
    }
    .service > div > img,.family > div > img{
        cursor: pointer;
    }
    .service > p{
        color: #B7B7B7;
        margin-bottom: 20px;
    }
    .service > div{
        display: flex;
    }
    .sitemap{
        display: flex;
        justify-content: center;
        white-space: nowrap;
    }
    .facebook,.twiter{
        margin-left: 15px;
    }

    .sitemap > h3{
        margin-top: 50px;
        margin-right: 80px;
        margin-left: 80px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        color: #ffffff;
    }
    .family > div{
        display: flex;
    }

    /* 반응형작업 */
    /*********** laptop-size ************/
    @media (max-width:1700px){
        #prev{
          margin-left: 10vh;
  
      }
      #next{
          margin-right: 10vh;
      }
    }
    @media (max-width:1200px){
        /* .header{
            height: 930px;
        } */
        .hello{
            margin-left: 20px;
        }
        .gallery{
            height: 90vh;
        }
        #hotel{
            margin-right: 50px;
        }
        .scroll{
            margin-bottom: 80px;
        }
        .boximg > img{
            width: 100%;
            height: 100%;
        }
        .boximg{
            width: 334px;
            height: 172px;
        }
        #date{
            width: 330px;
        }
        .membership{
            margin-left: 40px;
        }
        .section3-background{
            height: 560px;
        }
        .menu{
            margin-left: 20px;
        }
        .box1-1{
            height: 340px;
        }
        .box2-winter {
            height: 558px;
            width: 450px;
            object-fit: cover;
        }
        .box2-winter > img{
            height: 558px;
            width: 334px;
        }
        .box3-1{
            height: 450px;
        }
        .box3-2 {
            width: 475px;
            height: 580px;
            /* margin-left: 20px; */
            margin-right: 20px;
            margin-top: -230px;
        }
        .box3-3 {
            width: 475px;
            height: 580px;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: -180px;
        }
        .love-img{
            display: none;
        }
        .section1{
            padding-bottom: 300px;
        }
        .header-logo > nav{
            margin-left: 30px;
        }
        .content > h2 {
            margin-bottom: 20px;
            font-size: 22px;
        }
        .content > p {
            font-size: 13px;
        }
        .gallery2_mask strong {
            font-size: 15px;
        }
        .gallery2_mask > div > p {
            font-size: 10px;
        }
        .gallery2_mask > span {
            padding: 2px;
        }
        .section1 {
            padding-bottom: 0px;
        }
        .eventbox > div {
            margin-left: 10px;
            margin-right: 10px;
        }
        .eventbox > div {
            width: 312px;
            height: 460px;
        }
        .eventbox > img{
            width: 100%;
        }
        .TOGOBOX > img,.mong-friendly > img,
        .lifestyle > img{
            width: 100%;
        }
        .eventbox > div > h3 {
            font-size: 1.1rem;
        }
        .eventbox > div > p {
            font-size: 12px;
        }
        .eventbox > div {
            height: 400px;
        }
        .gallery2_mask strong {
            white-space: nowrap;
        }
        .gallery2_mask > span {
            display: none;
        }
        #mask{
            width: 830px;
        }
        .footer {
            height: 560px;
        }
        .sitemap > h3 {
            margin-right: 30px;
            margin-left: 45px;
        }
        .center{
            margin-right: 50px;
            margin-left:  -70px;
        }
        .service{
            margin-right: 50px;
        }
        .family{
            margin-right: 50px;
        }
        .family > div{
            display: flex;
            width: 24px;
            height: 24px;
        }
        .googleplay {
            margin-left: 15px;
        }
        .boximg2,.boximg2{
            width: 334px;
            height: 264px;
        }
        .box3-2 img,.box3-1 img,.box3-3 img{
            width: 100%;
            height: 100%;
        }
        .footer {
            height: 410px;
        }
        .event > h1 {
            font-size: 35px;
        }
        .event > h3 {
            font-size: 15px;
        }
        .menu > li {
            margin-right: 30px;
        }
        /* section5 */
        #prev{
            margin-left: 3vh;
    
        }
        #next{
            margin-right: 3vh;
        }
        .special-1, .special-3 {
            margin-right: 25px;
            margin-left: 25px;
            margin-bottom: 60px;
        }
        .special-2 {
            margin-top: -16px;
            margin-left: 25px;
            margin-right: 25px;
        }
        .special-4{
            margin-left: 25px;
        }
        .bus-img{
            display: none;
        }
        .bus {
            margin-top: 60px;
        }
        .special-img {
            overflow: hidden;
            width: 336px;
            /* height: 224px; */
        }
        .service > div{
            width: 130px;
            display: flex;
        }
        .service > div > img, .family > div > img {
            width: 100%;
        }
        
    }
    /********* tab-size **********/
    @media (max-width:959px){
        .header-logo > nav{
            display: none;
        }
        .header-logo{
            margin-left: 3vh;
        }
        .hello{
            font-size: 1.5rem;
        }
        .hello > p:last-child::after {
            height: 3px;
        }
        #mask {
            width: 600px;
            height: 400px;
        }
        .slide-btn {
            margin-top: -27vh;
        }
        .gallery {
            height: 55vh;
            width: 295pc;
        }
        .gallery li{
            pointer-events: none;
        }
        .boximg {
            width: 100%;
            height: 100%;
        }
        .box-1 > div > p, .box-2 > div > p, .box-3 > div > div > p {
            font-size: 0.7rem;
            white-space: nowrap;
        }
        .box1-1 > h2,.box1-1 > h2,.box1-1 > h2{
            margin-bottom: 5px;
            font-size: 0.9rem;
        }
        .section5-gallery > h1,.event > h1{
            font-size: 28px;
        }
        .section5-gallery > h3,.event > h3{
            margin-bottom: 50px;
            font-size: 13px;
        }
        .box-1 {
             display: contents; 
            margin: 0 auto;
            justify-content: center;
        }
        .box-2,.box-3{
            display: none;
        }
        .eventbox {
            margin-top: 0px;
        }
        .eventbox > div {
            width: 262px;
            height: 350px;
        }
        .eventbox > div > h3 {
            font-size: 0.8rem;
            white-space: nowrap;
            padding: 10px;
        }
        .eventbox > div > p {
            margin-left: 10px;
            font-size: 11px;
        }
        .membership{
            font-size: 1.5rem;
            padding-top: 5vh;
        }
        .membership > p:last-child::after {
            height: 3px;
        }
        /* section1 */
        .section1 {
            padding-bottom: 50px;
        }
        .special-3 {
            margin-right: 25px;
        }
        .special-1{
            margin-right: 30px;
            margin-left: 30px;
        }
        .special-2 {
            margin-left: 30px;
        }
        .section3-background {
            height: 415px;
            padding-bottom: 5vh;
        }
        .gallery2_mask > div > p {
            font-size: 10px;
            white-space: nowrap;
        }
        .box1-1{
            width: 550px;
            height: 275px;
            margin: 0 auto;
            padding-bottom: 110px;
        }
        .gallery2 {
            width: 100%;
            height: 100%;
            margin-left: 30px;
            margin-right: 10px;
            position: relative;
            top: 0;
            left: 0;
            overflow: hidden;
        }
        .content > h2 {
            font-size: 18px;
        }
        .footer {
            height: 390px;
        }
        .sitemap > h3 {
            margin-right: 30px;
            margin-left: 28px;
            font-size: 13px;
        }
        .box2-winter > img {
            height: 370px;
            width: 240px;
            object-fit: cover;
        }
        .boximg2 {
            width: 240px;
            height: 193px;
        }
        .boximg2 > img{
            width: 100%;
            height: 100%;
        }
        .box3-2{
            margin-top: -250px;
            height: 0px;
            width: 100%;
        }
        .box2-1 {
            width: 475px;
            height: 402px;
            margin-left: 20px;
            margin-right: 0px;
        }
        .box2-1 > h2 {
            margin-bottom: 10px;
            font-size: 1rem;
        }
        .box3-2 {
            margin-top: -320px;
            height: 0px;
            margin-right: 10px;
        }
        .box3-3 {
            margin-top: -270px;
            height: 0px;
            width: 100%;
        }
        .box3-1 > h2, .box3-2 > h2, .box3-3 >h2 {
            font-size: 1rem;
            white-space: nowrap;
        }
        .box1-1 > h2, .box1-1 > h2, .box1-1 > h2 {
            margin-bottom: 5px;
            font-size: 1rem;
            white-space: nowrap;
        }
        .box3-1 {
            margin-top: -130px;
            height: 400px;
            width: 100%;
        }
        .section3-background {
            height: 100%;
            padding-bottom: 50px;
        }
        /* section5 */
        .section5 {
            margin-bottom: 5vh;
        }
        .swiper{
            width: 650px;
        }
        .swiper-button-next::after,.swiper-button-prev::after{
            display: none;
        }
        /* top-btn */
        #top-btn{
            margin-top: 30px;
            margin-left: 830px;
        }
        #top-btn > div > img{
            width: 50px;
            height: 50px;
        }
        /* footer */
        .copyright {
            margin-top: 35px;
            font-size: 13px;
        }
        .footer-service > div > h1{
            font-size: 1rem;
        }
        .family > div > img{
            width: 100%;
            height: 100%;
        }
        .family > div{
            width: 24px;
            height: 24px;
        }
        .tel,.service > p{
            font-size: 13px;
        }
        .number {
            font-size: 13px;
            line-height: 17px;
        }
        .service > div > img{
            width: 150px;
            margin-right: 13px;
        }
        .love-img,.bus-img{
            display: none;
        }
        #room, #adult, #child {
            margin-right: 35px;
            display: none;
        }
        

    }
    /******* mobile-size */
    @media (max-width:759px){
        label[for=trigger] {
            right: 20px;
            top: 43%;
        }
        .gallery2_mask {
            width: 100%;
            background-color: rgba(34, 34, 34, 0.952);
            color: #fff;
            position: absolute;
            /* bottom: 0; */
            bottom: 0;
            left: 0;
            opacity: 0.9;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding: 15px 20px;
            box-sizing: border-box;
            /* transition-duration: 1s; */
        }
        .scroll {
            display: none;
        }
        .gallery {
            height: 50vh;
            width: 235pc;
        }
        .gallery li{
            pointer-events: none;
        }
        .sidebar{
            width: 40vw;
        }
        .sidebar > h2 {
            /* margin-top: 50px; */
            font-size: 0.8rem;
        }
        .sidebar {
            background-color: #70695ef5;
        }
        .eventbox > div {
            margin: 0 auto;
            margin-bottom: 6vh;
        }
        .eventbox {
            display: contents;
        }
        .boximg {
            margin-bottom: 1vh;
        }
        .header-logo {
            margin-left: 2vh;
        }
        .logo > img {
            width: 150px;
        }
        .header {
            height: 100%;
        }
        #room, #adult, #child {
            display: none;
        }
        #dd{
            display: flex;
        }
        #hotel {
            margin-right: 10px;
        }
        #hotel > span,#date > span{
            font-size: 14px;
        }
        
        #checkinout{
            display: none;
        }
        #date {
            width: 140px;
        }
        #searc {
            margin-left: 20px;
        }
        .box-1 {
            display: flow-root;
        }
        .box-2,.box-3{
            display: none;
        }
        .section1 {
            padding-bottom: 0px;
        }
        .box1-1 {
            /* width: 334px; */
            height: 350px;
            margin: 0 auto;
        }
        .boximg {
            width: 100%;
            height: auto;
        }
        .hello > p:last-child::after {
            display: none;
        }
        .hello {
            font-size: 1.2rem;
            margin-left: 30px;
            padding-top: 60px;
            margin-bottom: 50px;
        }
        .hello {
            margin-left: 10px;
        }
        .box1-1 > h2 {
            margin-bottom: 3px;
            font-size: 1rem;
        }
        .box-1 > div > p, .box-2 > div > p, .box-3 > div > div > p {
            font-size: 0.8rem;
        }
        .special-container{
            display: none;
        }
       
        .special > h1 {
            font-size: 1.7rem;
        }
        .special > h3 {
            font-size: 13px;
        }
        .love {
            margin-top: 50px;
        }
        .special-3,.special-1,.special-4{
           margin-right: 0px;
           margin-left:10px;
        }
        .special-3, .special-1, .special-4 {
            /* margin-right: 0px; */
            /* margin-left: 10px; */
            margin: 0 auto;
            margin-bottom: 50px;
        }
        .bus{
            margin-top: 0px;
        }
        /* section2 */
        .section2 {
            margin-bottom: 35px;
        }
        .special-img {
            width: 475px;
            height: 310px;
        }
        /* section3 */
        .section3-background {
            height: 1003px;
            padding-bottom: 5vh;
        }
        .gallery2 img {
            width: 100%;
            height: 100%;
        }
        .membership > p:last-child::after {
            display: none;
        }
        .membership {
            font-size: 1.1rem;
        }
        
        .gallery2 {
            width: 176px;
            height: 254px;
            margin: 0 auto;
            padding-top: 50px;
        }
        .membership {
            margin-bottom: 0px;
        }
        .out_box {
            justify-content: space-between;
            display: table-column;
        }
        .section3-box {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
        .inner {
            display: contents;
            width: 100%;
            height: 100%;
        }
        #top-btn {
            margin-top: 50px;
            margin-bottom: 50px;
            margin-left: 410px;
            cursor: pointer;
        }
        .section5 {
           margin-bottom: 0vh; 
        }
        #top-btn > div{
            width: 50px;
            height: 50px;
        }
        #top-btn > div > img{
            width: 100%;
            height: 100%;
        }
        .center > h1, .family >h1 {
            margin-bottom: 10px;
        }
        /* section5 */
        .swiper{
            width: 400px;
        }
        .swiper-button-next::after,.swiper-button-prev::after{
            display: none;
        }
        /* footer */
        .footer {
            height: 600px;
           
        }       
        .footer-service {
            display: inline-block;
            justify-content: center;
            margin-left: 50px;
        } 
        .footer-service > div > h1 {
            font-size: 0.9rem;
            white-space: nowrap;
            margin-top: 40px;
        }
        .center {
            margin-right: 50px;
             margin-left: 0px;
        }
        .service {
            margin-right: 30px;
        }
        .sitemap > h3 {
            margin-right: 20px;
            margin-left: 20px;
            font-size: 13px;
            white-space: nowrap;
        }
        .site-none{
            display: none;
        }
        .copyright {
            margin-top: 35px;
            font-size: 11px;
        }
        .service > div > img {
            width: 120px;
        }
        .address{
            margin: 0 auto;
            margin-left: 30px;
            margin-right: 30px;
        }
        .family > div {
            width: 24px;
            height: 24px;
        }
        .slide-btn{
            display: none;
        }
        #mask {
            width: 430px;
            height: 270px;
        }
        label[for=trigger] {
            width: 25px;
            height: 18px;
        }
      
        
    }